feign:
  client:
    config:
      default:
        connectTimeout: 60000
        readTimeout: 60000
        loggerLevel: basic
      apiconectorclient:
        url: '${CONECTOR_URL:http://ms-conector:9002}/conector'
      apiBackendClient:
        url: '${MS_BACKEND_URL:http://ms-backend:9003}/backend'

management:
  endpoints:
    web:
      base-path: /metrics
      exposure:
        include: "health,info"

server:
  port: 9001
  servlet:
    context-path: /bff
